source py27/bin/activate

NVM_DIR="$HOME/.nvm"
NODE_PREFIX="$NVM_DIR/versions/node/v6.8.0"
if [ -d "$NODE_PREFIX" ]; then
    [ -z "$MANPATH" ] && export MANPATH=$(manpath)
    load_prefix $NODE_PREFIX
fi

layout node
